/* Colors */
/* 
white: #F4F6F5;
yellow: #F7DF1E;
black: #272429;
 */

/* My styling: */

/* Font load-in */
@import url("https://fonts.googleapis.com/css?family=Cabin:400,600|Open+Sans:400,700&display=swap");

/*****************************************RESET*******************************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}
/***************************************END RESET******************************************/

/* 1
font-family: "Open Sans", sans-serif;
font-family: "Cabin", sans-serif;
1 */

/* Body styling */
body {
  background: #6cd4ff;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flexParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "Cabin", sans-serif;
  font-size: 4rem;
  color: #363537;
  margin: 1%;
}

/* Flashcard component */
.gameWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2%;
  background: #fdfffc;
  box-shadow: 2px 2px 40px #939194;
  border-radius: 10px;
  min-height: 550px;
}

.flashcard {
  background-color: transparent;
  width: 50%;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 2%;
}

.flashcardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flashcard:hover .flashcardInner {
  transform: rotateY(180deg);
}

.frontCard,
.backCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding: 50px;
  backface-visibility: hidden;
  box-shadow: 0.5px 0.5px 20px #d8d5db;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  color: #363537;
  font-size: 1.5rem;
  text-align: center;
}

.frontCard {
  background: #ffffff;
}

.backCard {
  background: #ffffff;
  transform: rotateY(180deg);
}

/* Buttons */
.userButtons {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

button {
  margin: 2% 5%;
  background: none;
  border-style: none;
  text-transform: uppercase;
  font-family: "Cabin", sans-serif;
  color: #f7df1e;
  font-size: 1.5rem;
  font-weight: 700;
}

/* UserCard.js styling */
.userCustomCard {
  width: 100%;
}

.inputFlex {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.userInputs {
  margin: 2%;
}

.userInputs input {
  border: none;
  background: #d8d5db;
  padding: 5px;
  border-radius: 5px;
}

.submissionButton {
  text-align: center;
  margin: 0 auto;
}

.usersButton {
  color: #fdfffc;
  background: #363537;
  padding: 10px;
  width: 20%;
  border-radius: 5px;
}
/* React styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
